

.flex-center{
    display: flex;
    justify-content: center;    
    flex-direction: column;
    border: 2px solid #42d2fa;
    padding: 3em 4em;
    gap: 1em;
}

.container .flex{
    display: flex;
    justify-content: space-between;
    
}

.container .flex span {
    font-size: 1.4em;
    color: #fbf9f9;
    font-weight: 800px;
}

.container .flex span.achive {
    font-weight: bold;
    color: #ff2a66;
    color: #2aff95;
}

table {
    width: 100%;
}

.table-header {
    color: #1bc3f1;
    font-size: 1.1em;
    text-align: center;
    background: #212121;
    padding: 18px 0;
}

.table-body {
    font-size: 1.1em;
    font-weight: 100px;
    text-align: center;
    /* color: #cecece; */
    background: #d8d8d8;
    padding: 18px 0;
}

.table-header > tr > td{
    border: 1px solid #5adeff;   
}
.bold{
    background: rgba(18, 18, 17, 0.68);
    border-width: 0px 2px 1px 0px;
    border-style: solid;
    border-color: #fcddec;
    box-shadow: 0px 19px 41px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
}
.flex{
    /* background: rgba(18, 18, 17, 0.68); */
    border-width: 0px 2px 1px 0px;
    /* border-style: solid; */
    border-color: #fcddec;
    box-shadow: 0px 19px 41px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
}
